.text-gradient {
    background: linear-gradient(50deg, #fb3c00, #ffb800);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bg {
    background-color: #FFB30E;
}

.starving {
    font-size: 3rem;
}

.few-click {
    color: #616161;
    font-size: 2.0736rem;
}


.col-lg-8:hover img {
    transform: scale(1.05);
}

.rounded img {
    border-radius: 25px;
}

.Remaining {
    color: white;
    padding: 8px 12px;
    border-radius: 8px;
    display: inline-block;
    background-color: #a55238;
}

.img img {
    border-radius: 30px;
}

.card-img-top {
    border-radius: 25px;
}

.Discount {
    background: linear-gradient(50deg, #fb3c00, #ffb800);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.live-tracking {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 85%;
    background-color: white;
    border-radius: 30px;
    margin: auto;
    margin-top: 5%;

}

.img-2 img {
    height: 100px;
    width: 100px;
}

.hr-vertical {
    border-left: 2px solid #CFCFCF;
}

.background {
    background-color: rgba(192,
            126,
            126,
            0.308);
    width: 100%;
    height: 500px;
}

.phone-img {
    height: 250px;
    width: 350px;
}

.bg-2 {
    background-color: white;
    padding: 8%;
}

.img-fluid {
    height: 350px;
    width: 100%;
}