.text-gradient {
    background: linear-gradient(50deg, #fb3c00, #ffb800);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bg {
    background-color: #FFB30E;
}

.starving {
    font-size: 3rem;
}

.few-click {
    color: #616161;
    font-size: 2.0736rem;
}


.col-lg-8:hover img {
    transform: scale(1.05);
}

.rounded img {
    border-radius: 25px;
}

.Remaining {
    color: white;
    padding: 8px 12px;
    border-radius: 8px;
    display: inline-block;
    background-color: #a55238;
}